// Custom Bootstrap override
$body-bg: #01041e;
$body-color: #fff;

$theme-colors: (
  "my-green": #64ffda,
  "my-light-blue":#ccd6f6,
  "my-dark-blue": #8892b0
);

$my-green: #64ffda;
$my-light-blue : #ccd6f6;
$my-dark-blue: #8892b0;
$darker-blue:#3b4862;


@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  // background-image:url('../public/bg-photo.jpg') ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





.oneStory{
  margin: 0 20px 20px 20px;
  // font-family: 'Recursive';
  cursor: default;
  
}
.oneStory > div{
  padding:5px;
}
.title{
  font-size:20px;
  font-weight:bold;
  color: $my-light-blue;
  cursor: pointer;

  &:hover{
    color: #64ffda;
  }

}
// .title:hover{
//   color: #E71D36
// }
.author, .date{
  font-size: 12px;
  font-style: italic;
  color:$my-dark-blue
}
.description{
  font-size: 15px;
  line-height:1.5;
  color: $my-dark-blue
}
hr{
  color: $darker-blue;
  border-radius: 5%;
  border: 1px solid;
  padding: 0;
  
}
.actions{
  display: flex;
  cursor:pointer;
  
}
.actions> *{
  padding: 0px 15px 5px 0px;
  font-size:12px;
  color: $my-green
}
i{
  padding-right: 3px;
}

.blog-name{
  margin-right: 27px;
  color: #ccd6f6;
}

.navig{
  position: fixed;
  // left: 10%;
  z-index: 200;
  top: 44px;
  color: #64ffda;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 15px;
  background-color: #01041ea6;
  padding: 10px;
  border-radius: 6px;


  *{
    cursor: pointer
  }
  
}

.navig-other{
  color: #64ffda;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 15px;
  // text-align: right;
  margin-left: 27px;
  margin-top: 20px;
  ;

  *{
    cursor: pointer
  }
}

.wrapped{
  white-space: pre-wrap;
}


.typical-parent *{
  line-height: 1.5;
  padding: 10px;
  color: #ccd6f6;
  font-family: 'Nunito';
  font-weight: 400;
  background-color: #01041ea6;
  border-radius:20px;
}


.blog-name-landing{
  color: #64ffda;
  background-color: #01041ea6;

}

i{
  color: #64ffda;
}

.icon-contain{
  display: flex;
  align-items: flex-end;
  height: 8%;

  *{
    padding-right:20px;
    font-size: 20px
  }
}


.contain-car{
  position: relative;
  bottom: 120px;
}

@media(max-width:763px){
  .remove-763, .icon-contain{
    display: none;
}
}

.cat{
  min-height: 300px;
  border-top-right-radius: 50px;
  border: 1px solid #64ffda;
  // background-color: #64ffdb69;
  margin: 5px
}

.pointer-parent1 div{
  cursor:pointer;
  width: fit-content;
  margin-right: auto;
  

}

.pointer-parent2 div{
  cursor:pointer;
  width: fit-content;
  margin-left: auto;

}

.pointer-parent1, .pointer-parent2{
  width:50%
}

.stars-div{
  background-image:url('https://awv3node-homepage.surge.sh/build/assets/stars.svg');
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  z-index:-300
}

.head{
  font-family: 'Oswald';
  text-transform: uppercase;
}

.text-my-green, .oswald{
  font-family: 'Oswald';
  text-transform: uppercase;
}

.advanced-contain{
  background: #64ffda12;
  padding: 20px;
  // border-radius: 20px;
  max-width: 700px;
}