.wrapped{
  white-space: pre-wrap;
}





.blog-name-landing{
  color: #ccd6f6;
}

i{
  color: #64ffda;
}

.icon-contain{
  display: flex;
  align-items: flex-end;
  height: 8%;

  *{
    padding-right:20px;
    font-size: 20px
  }
}


.contain-car{
  position: relative;
  bottom: 120px;
}

@media(max-width:763px){
  .remove-763, .icon-contain{
    display: none;
}
}

.cat{
  min-height: 300px;
  border-top-right-radius: 50px;
  border: 1px solid #64ffda;
  // background-color: #64ffdb69;
  margin: 5px
}

.pointer-parent1 div{
  cursor:pointer;
  width: fit-content;
  margin-right: auto;
  

}

.pointer-parent2 div{
  cursor:pointer;
  width: fit-content;
  margin-left: auto;

}

.pointer-parent1, .pointer-parent2{
  width:50%
}